# Data Cleaning and Preparation 
Problem Statement: Analyzing Customer Churn in a Telecommunications Company 
Dataset: "Telecom_Customer_Churn.csv" 
Description: The dataset contains information about customers of a telecommunications 
company and whether they have churned (i.e., discontinued their services). The dataset 
includes various attributes of the customers, such as their demographics, usage patterns, and 
account information. The goal is to perform data cleaning and preparation to gain insights 
into the factors that contribute to customer churn. 
Tasks to Perform: 
1. Import the "Telecom_Customer_Churn.csv" dataset. 
2.  Explore the dataset to understand its structure and content. 
3.  Handle missing values in the dataset, deciding on an appropriate strategy. 
4. Remove any duplicate records from the dataset. 
5.  Check for inconsistent data, such as inconsistent formatting or spelling variations, 
and standardize it. 
6.  Convert columns to the correct data types as needed. 
7. Identify and handle outliers in the data. 
8. Perform feature engineering, creating new features that may be relevant to 
predicting customer churn. 
9.  Normalize or scale the data if necessary. 
10. Split the dataset into training and testing sets for further analysis. 
11. Export the cleaned dataset for future analysis or modeling.

- Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from scipy import stats

- Task 1: Import the dataset

In [2]:
df = pd.read_csv('Telecom_Customer_Churn.csv')

- Task 2: Explore the dataset

In [3]:
print("First five rows of the dataset:")
print(df.head())
print("\nDataset information:")
print(df.info())
print("\nSummary statistics:")
print(df.describe())

First five rows of the dataset:
  Customer ID  Gender  Age Married  Number of Dependents          City  \
0  0002-ORFBO  Female   37     Yes                     0  Frazier Park
1  0003-MKNFE    Male   46      No                     0      Glendale
2  0004-TLHLJ    Male   50      No                     0    Costa Mesa
3  0011-IGKFF    Male   78     Yes                     0      Martinez
4  0013-EXCHZ  Female   75     Yes                     0     Camarillo

   Zip Code   Latitude   Longitude  Number of Referrals  ...   Payment Method  \
0     93225  34.827662 -118.999073                    2  ...      Credit Card
1     91206  34.162515 -118.203869                    0  ...      Credit Card
2     92627  33.645672 -117.922613                    0  ...  Bank Withdrawal
3     94553  38.014457 -122.115432                    1  ...  Bank Withdrawal
4     93010  34.227846 -119.079903                    3  ...      Credit Card

  Monthly Charge Total Charges  Total Refunds Total Extra Data Charges  \
0           65.6        593.30           0.00                        0
1           -4.0        542.40          38.33                       10
2           73.9        280.85           0.00                        0
3           98.0       1237.85           0.00                        0
4           83.9        267.40           0.00                        0

  Total Long Distance Charges Total Revenue  Customer Status   Churn Category  \
0                      381.51        974.81           Stayed              NaN
1                       96.21        610.28           Stayed              NaN
2                      134.60        415.45          Churned       Competitor
3                      361.66       1599.51          Churned  Dissatisfaction
4                       22.14        289.54          Churned  Dissatisfaction

                    Churn Reason
0                            NaN
1                            NaN
2  Competitor had better devices
3        Product dissatisfaction
4            Network reliability

[5 rows x 38 columns]

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              3166 non-null   object
 12  Phone Service                      7043 non-null   object
 13  Avg Monthly Long Distance Charges  6361 non-null   float64
 14  Multiple Lines                     6361 non-null   object
 15  Internet Service                   7043 non-null   object
 16  Internet Type                      5517 non-null   object
 17  Avg Monthly GB Download            5517 non-null   float64
 18  Online Security                    5517 non-null   object
 19  Online Backup                      5517 non-null   object
 20  Device Protection Plan             5517 non-null   object
 21  Premium Tech Support               5517 non-null   object
 22  Streaming TV                       5517 non-null   object
 23  Streaming Movies                   5517 non-null   object
 24  Streaming Music                    5517 non-null   object
 25  Unlimited Data                     5517 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   object
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB
None

Summary statistics:
               Age  Number of Dependents      Zip Code     Latitude  \
count  7043.000000           7043.000000   7043.000000  7043.000000
mean     46.509726              0.468692  93486.070567    36.197455
std      16.750352              0.962802   1856.767505     2.468929
min      19.000000              0.000000  90001.000000    32.555828
25%      32.000000              0.000000  92101.000000    33.990646
50%      46.000000              0.000000  93518.000000    36.205465
75%      60.000000              0.000000  95329.000000    38.161321
max      80.000000              9.000000  96150.000000    41.962127

         Longitude  Number of Referrals  Tenure in Months  \
count  7043.000000          7043.000000       7043.000000
mean   -119.756684             1.951867         32.386767
std       2.154425             3.001199         24.542061
min    -124.301372             0.000000          1.000000
25%    -121.788090             0.000000          9.000000
50%    -119.595293             0.000000         29.000000
75%    -117.969795             3.000000         55.000000
max    -114.192901            11.000000         72.000000

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                        6361.000000              5517.000000
mean                           25.420517                26.189958
std                            14.200374                19.586585
min                             1.010000                 2.000000
25%                            13.050000                13.000000
50%                            25.690000                21.000000
75%                            37.680000                30.000000
max                            49.990000                85.000000

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count     7043.000000    7043.000000    7043.000000               7043.000000
mean        63.596131    2280.381264       1.962182                  6.860713
std         31.204743    2266.220462       7.902614                 25.104978
min        -10.000000      18.800000       0.000000                  0.000000
25%         30.400000     400.150000       0.000000                  0.000000
50%         70.050000    1394.550000       0.000000                  0.000000
75%         89.750000    3786.600000       0.000000                  0.000000
max        118.750000    8684.800000      49.790000                150.000000

       Total Long Distance Charges  Total Revenue
count                  7043.000000    7043.000000
mean                    749.099262    3034.379056
std                     846.660055    2865.204542
min                       0.000000      21.360000
25%                      70.545000     605.610000
50%                     401.440000    2108.640000
75%                    1191.100000    4801.145000
max                    3564.720000   11979.340000

In [4]:
# Check column names
print("\nColumn names in the dataset:")
df.columns = df.columns.str.strip()  # Normalize column names by stripping whitespace
print(df.columns.tolist())

Column names in the dataset:
['Customer ID', 'Gender', 'Age', 'Married', 'Number of Dependents', 'City', 'Zip Code', 'Latitude', 'Longitude', 'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service', 'Avg Monthly Long Distance Charges', 'Multiple Lines', 'Internet Service', 'Internet Type', 'Avg Monthly GB Download', 'Online Security', 'Online Backup', 'Device Protection Plan', 'Premium Tech Support', 'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing', 'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds', 'Total Extra Data Charges', 'Total Long Distance Charges', 'Total Revenue', 'Customer Status', 'Churn Category', 'Churn Reason']

In [5]:
# Check for missing values
missing_values = df.isnull().sum()
print("\nMissing values in each column:")
print(missing_values)

Missing values in each column:
Customer ID                             0
Gender                                  0
Age                                     0
Married                                 0
Number of Dependents                    0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Number of Referrals                     0
Tenure in Months                        0
Offer                                3877
Phone Service                           0
Avg Monthly Long Distance Charges     682
Multiple Lines                        682
Internet Service                        0
Internet Type                        1526
Avg Monthly GB Download              1526
Online Security                      1526
Online Backup                        1526
Device Protection Plan               1526
Premium Tech Support                 1526
Streaming TV                         1526
Streaming Movies                     1526
Streaming Music                      1526
Unlimited Data                       1526
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Customer Status                         0
Churn Category                       5174
Churn Reason                         5174
dtype: int64

- Task 3: Handle missing values

In [7]:
# Assuming we drop rows with missing target values, fill others with mean
if 'Churn Category' in df.columns:  # Check for the correct target column
    df.dropna(subset=['Churn Category'], inplace=True)  # Drop rows where 'Churn Category' is missing
    df.fillna(df.mean(numeric_only=True), inplace=True)  # Fill other numeric missing values with mean
else:
    print("Column 'Churn Category' not found in the dataset. Please check the column names.")

- Task 4: Remove duplicate records

In [8]:
print("\nNumber of duplicate records before removal:", df.duplicated().sum())
df.drop_duplicates(inplace=True)
print("Number of duplicate records after removal:", df.duplicated().sum())

Number of duplicate records before removal: 0
Number of duplicate records after removal: 0

- Task 5: Check for inconsistent data

In [9]:
# Example: Standardizing categorical variables
df['Gender'] = df['Gender'].str.strip().str.lower()
df['Internet Service'] = df['Internet Service'].str.strip().str.lower()  # Use the correct column name

- Task 6: Convert columns to correct data types

In [10]:
if 'Churn Category' in df.columns:
    df['Churn Category'] = df['Churn Category'].map({'Yes': 1, 'No': 0})

- Task 7: Identify and handle outliers

In [11]:
# Simple outlier detection using Z-score
z_scores = np.abs(stats.zscore(df.select_dtypes(include=[np.number])))
outliers = (z_scores > 3).any(axis=1)
print("\nNumber of outliers detected:", outliers.sum())
df = df[~outliers]  # Remove outliers

Number of outliers detected: 329

- Task 8: Feature engineering

In [12]:
# Example: Create a new feature for total charges
df['TotalCharges'] = df['Monthly Charge'] * df['Tenure in Months']

- Task 9: Normalize or scale the data if necessary

In [13]:
from sklearn.preprocessing import StandardScaler

# Check for missing values before scaling
print("\nMissing values before scaling:")
print(df.isnull().sum())

# Fill any remaining NaN values with mean or drop them
df.fillna(df.mean(numeric_only=True), inplace=True)

# Verify that there are no missing values
print("\nMissing values after filling:")
print(df.isnull().sum())

# Select numeric columns for scaling
numeric_cols = df.select_dtypes(include=[np.float64, np.int64]).columns
scaler = StandardScaler()

# Apply scaling
scaled_features = scaler.fit_transform(df[numeric_cols])

# Updating the DataFrame with scaled features
scaled_df = pd.DataFrame(scaled_features, columns=numeric_cols)
df = pd.concat([df.select_dtypes(exclude=[np.float64, np.int64]), scaled_df], axis=1)

Missing values before scaling:
Customer ID                             0
Gender                                  0
Age                                     0
Married                                 0
Number of Dependents                    0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Number of Referrals                     0
Tenure in Months                        0
Offer                                 857
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                        142
Internet Service                        0
Internet Type                          96
Avg Monthly GB Download                 0
Online Security                        96
Online Backup                          96
Device Protection Plan                 96
Premium Tech Support                   96
Streaming TV                           96
Streaming Movies                       96
Streaming Music                        96
Unlimited Data                         96
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Customer Status                         0
Churn Category                       1540
Churn Reason                            0
TotalCharges                            0
dtype: int64

Missing values after filling:
Customer ID                             0
Gender                                  0
Age                                     0
Married                                 0
Number of Dependents                    0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Number of Referrals                     0
Tenure in Months                        0
Offer                                 857
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                        142
Internet Service                        0
Internet Type                          96
Avg Monthly GB Download                 0
Online Security                        96
Online Backup                          96
Device Protection Plan                 96
Premium Tech Support                   96
Streaming TV                           96
Streaming Movies                       96
Streaming Music                        96
Unlimited Data                         96
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Customer Status                         0
Churn Category                       1540
Churn Reason                            0
TotalCharges                            0
dtype: int64

C:\Users\Aditi\.jupyter\anaconda\lib\site-packages\sklearn\utils\extmath.py:1137: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\Aditi\.jupyter\anaconda\lib\site-packages\sklearn\utils\extmath.py:1142: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\Aditi\.jupyter\anaconda\lib\site-packages\sklearn\utils\extmath.py:1162: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

- Task 10: Split the dataset into training and testing sets

In [14]:
X = df.drop('Churn Category', axis=1, errors='ignore')  # Features
y = df['Churn Category']  # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

- Task 11: Export the cleaned dataset for future analysis or modeling

In [16]:
df.to_csv('Cleaned_Telecom_Customer_Churn.csv', index=False)

print("\nData cleaning and preparation completed. Cleaned dataset saved as 'Cleaned_Telecom_Customer_Churn.csv'.")

Data cleaning and preparation completed. Cleaned dataset saved as 'Cleaned_Telecom_Customer_Churn.csv'.